.DS_Store
.idea/
Analyses/.DS_Store
Analyses/Biases/.DS_Store
*pickle
Results/*
/Users/krsc0813/exome-bakeoff/59_ACMG/59_bed
/Users/krsc0813/exome-bakeoff/germline_bad
.bam
.bai
.cram
.crai
.err
.nextflow
.out

